<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf_token" content="<%= Plug.CSRFProtection.get_csrf_token() %>">

    <%= if assigns[:user_id] do %>
     <script>window.userToken = "<%= assigns[:user_id] %>" </script>
    <% end %>
    

    <%= if assigns[:api_token] do %>
     <meta name="api_token" content="<%= @api_token %>">
    <% end %>


    <title>Pageless</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  
  <body>
    <%= render @view_module, @view_template, assigns %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>

</html>
