.form {
  padding: 20%;
}

.form-group {
  max-width: 240px;
  margin: 0 auto;
}

.control-label {
  font-weight: 300;
}

.form-control {
  margin: 5px;
  height: 20px;
  width: 200px;
}

.btn {
  background: none;
  margin: 5px;
  width: 5rem;
  height: 1.5rem;
}
